html,
body {
  min-height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-container {
  height: 95vh;
  display: flex;
}

.left-sidebar {
  /* height: 90%; */
  width: 15vw;
}

.main-content {
  display: flex;
  flex-direction: column;
}

.intro {
  font-family: helvetica;
}

.feed {
  display: flex;
  justify-content: space-between;
}

.project,
.lesson,
.links {
  /* width: 30%; */
}

.footer {
  /* height: 10%; */
}
