html,
body {
  min-height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-container {
  height: 95vh;
  display: flex;
}

.left-sidebar {
  flex-grow: 1;
  width: 100px;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
}

.intro {
  height: 25vh;
  align-items: center;
  justify-content: center;
  display: flex;
}

.intro_text {
  font-family: helvetica;
  text-align: center;
}

.feed {
  display: flex;
  justify-content: space-between;
}

.project,
.lesson,
.links {
  width: 33vw;
}

.footer {
  /* height: 10%; */
}
